<mat-card>
    <mat-card-header>
        <mat-card-title>Fee Table</mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <table mat-table [dataSource]="tableData()" class="mat-elevation-z1 full-width-table">
            <ng-container matColumnDef="diffDays">
                <th mat-header-cell *matHeaderCellDef>Time Range (In days)</th>
                <td mat-cell *matCellDef="let element">{{ element.diffDays }}</td>
            </ng-container>

            <ng-container matColumnDef="fixedAmount">
                <th mat-header-cell *matHeaderCellDef>Fixed Amount</th>
                <td mat-cell *matCellDef="let element">{{ element.fixedAmount }}</td>
            </ng-container>

            <ng-container matColumnDef="percentageAmount">
                <th mat-header-cell *matHeaderCellDef>Percentage Amount</th>
                <td mat-cell *matCellDef="let element">{{ element.percentageAmount }}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
    </mat-card-content>
</mat-card>
